.Rproj.user/
.RHistory
.RData
*_cache/
/cache/
.DS_Store
.Rproj

# don't want this saved to repo but need it in the project folder sometimes
/MD-Data/*
/misc/*

# not sure if this is a good idea (it is)
*_files

# don't want the homework .Rmds in the repo
# even if we put them in the folder
/homework/*.Rmd
/homework/*.html

# don't add rendered demos
/demos/*.html
/old_demos/*.html
/output/

# raw homework Rmds
/hw_rmds/
/.quarto/

# no quizzes
/quizzes/

# no htmls for demos
/demos/*.html

# no lecture notes
/lecture-notes/
